.App {
  text-align: center;
}

nav {
  background-color: #282c34;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

li {
  padding: 2rem 2rem;
  display: inline;
  text-decoration: none;
  list-style-type: none;
}

a:visited,
a:link {
  color: tomato;
  text-decoration: none;
}
